/* Print Style Sheet */
@page {
  size: auto;  /* auto is the initial value */
  margin: 0mm; /* this affects the margin in the printer settings */
}
html {
  background-color: #FFFFFF;
  margin: 0px; /* this affects the margin on the HTML before sending to printer */
}
body {
  margin: 10mm 15mm 10mm 15mm; /* margin you want for the content */
}
div#item-header {
  display:none;
}
#buddypress #item-nav, .print_button, #header_admin {
  display:none;
}
div#accordion .card h3 {
  font-size:22px;
  color:#4d3d6b !important;
}
div#accordion .card h4 {
  font-size:20px;
  color:#4d3d6b !important;
}
div#accordion .card p {
  font-size:16px;
    color:#4d3d6b !important;
}
div#accordion .card h3:hover {
  text-decoration: none !important;
}
.add_cross {
  display:none;
}

.chec_wrap1, .chec_wrap2, .chec_wrap3, .chec_wrap4, .chec_wrap5, .chec_wrap6, .chec_wrap7, .chec_wrap8, .chec_wrap9 {
  display:none;
}

.check_wrap {
  display:none;
}

div#footer_wrap {
  display:none;
}
